@model SourceWrestlingSchool.Models.Lesson
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = User.Identity.GetUserId();
    bool userFound = false;
    int id = Model.LessonId;   
}

<h2>Make a Booking/Cancellation</h2>

<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-text-width"></i>
        <h3 class="box-title">Lesson Details</h3>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ClassType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClassLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClassStartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassStartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClassEndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassEndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClassCost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassCost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstructorName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstructorName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Students)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Students.Count)
            </dd>

        </dl>
    </div>
</div>

<div class="container">
    @if (Model.Students.Count == 0)
    {
        using (Html.BeginForm("BookUser", "Schedule", FormMethod.Post))
        {
            <input type="hidden" name="userID" value="@userId" />
            <input type="hidden" name="classID" value="@id" />
            <input class="btn btn-success" type="submit" value="Book Attendance">
        }
    }
    else
    {
        foreach (var student in Model.Students)
        {
            if (student.UserName.Equals(User.Identity.Name))
            {
                userFound = true;
                break;
            }
        }

        if (!userFound)
        {
            using (Html.BeginForm("BookUser", "Schedule", FormMethod.Post))
            {
                <input type="hidden" name="userID" value="@userId" />
                <input type="hidden" name="classID" value="@id" />
                <input class="btn btn-success" type="submit" value="Book Attendance">
            }
        }
        else
        {
            using (Html.BeginForm("CancelUser", "Schedule", FormMethod.Post))
            {
                <input type="hidden" name="userID" value="@userId" />
                <input type="hidden" name="classID" value="@id" />
                <input class="btn btn-danger" type="submit" value="Cancel Attendance">
            }
        }
    }       
</div>
<p>
    @Html.ActionLink("Back to Schedule", "Index")
</p>
