@model SourceWrestlingSchool.Models.Lesson

@{
    ViewBag.Title = "Booking";
}

<h2>Booking</h2>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
