@model SourceWrestlingSchool.Models.PrivateSession

@{
    ViewBag.Title = "Request Private Session";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string studentName = Model.User.FirstName + " " + Model.User.LastName;
}
<style>
.well-block {
    background-color: #fff;
    border: 1px solid #e9e6e8;
    padding: 40px;
}

.well-title {
    margin-bottom: 40px;
}
</style>

<div class="container" style="font-size: 16px">
    <div class="row">
        <div class="col-md-6">
            <div class="well-block">
                <div class="well-title">
                    <h2>Request Private Session</h2>
                </div>
            
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.User, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @studentName
                                @Html.HiddenFor(model => model.User)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SessionStart, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.SessionStart)
                                @Html.HiddenFor(model => model.SessionStart)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SessionEnd, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.SessionEnd)
                                @Html.HiddenFor(model => model.SessionEnd)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.InstructorId, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.InstructorId, new SelectList(ViewBag.Instructors, "Id", "FirstName"), "----- none -----", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InstructorId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Request Private Session" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>