@model SourceWrestlingSchool.Models.Lesson

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
