@model SourceWrestlingSchool.Models.Lesson

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<div class="container">
    <div class="row" id="printableSection">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Class Details</div>
                <div class="panel-body" style="color:black">
                    <ul>
                        <li>@Html.DisplayNameFor(model => model.ClassType) : @Html.DisplayFor(model => model.ClassType)</li>
                        <li>@Html.DisplayNameFor(model => model.ClassLevel) : @Html.DisplayFor(model => model.ClassLevel)</li>
                        <li>@Html.DisplayNameFor(model => model.ClassStartDate) : @Html.DisplayFor(model => model.ClassStartDate)</li>
                        <li>@Html.DisplayNameFor(model => model.ClassEndDate) : @Html.DisplayFor(model => model.ClassEndDate)</li>
                        <li>@Html.DisplayNameFor(model => model.ClassCost) : @Html.DisplayFor(model => model.ClassCost)</li>
                        <li>@Html.DisplayNameFor(model => model.InstructorName) : @Html.DisplayFor(model => model.InstructorName)</li>
                        <li>
                            @Html.DisplayNameFor(model => model.Students) :
                        @foreach (var item in Model.Students)
                        {
                            if (i != Model.Students.Count)
                            {
                                @Html.DisplayFor(modelItem => item.FirstName)<text>,</text>
                            }
                            else
                            {
                                @Html.DisplayFor(model => item.FirstName)
                            }
                            i++;
                        }
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success" onclick="PrintPartOfPage('printableSection')">
            <span class="fa fa-print">Print Off Class Details</span>
        </button>
    </div>
</div>
<p>
   @Html.ActionLink("Back to List", "Index")
</p>
<script>
    function PrintPartOfPage(dvprintid) {
        var prtContent = document.getElementById(dvprintid);
        var winPrint = window.open('', '', 'letf=100,top=100,width=600,height=600');
        winPrint.document.open();
        winPrint.document.write("<!DOCTYPE html>" + "<html>" + prtContent.innerHTML + "</html>");
        winPrint.document.close();
        winPrint.focus();
        winPrint.print();
        //WinPrint.close()   
    }  
</script>
