@model IEnumerable<SourceWrestlingSchool.Models.Lesson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorID)
        </td>
        <td>
            @if (item.Students.Count > 0)
            {
                foreach (var student in item.Students)
                {
                    <p>@student.FirstName</p>
                }
            }            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LessonID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LessonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LessonID })
        </td>
    </tr>
}

</table>
