@model SourceWrestlingSchool.Models.LiveEvent

@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>@Html.DisplayFor(model => model.EventName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Venue.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue.VenueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventRevenue)
        </dt>

        <dd>
            £@Html.DisplayFor(model => model.EventRevenue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
