@using SourceWrestlingSchool.Models
@model IEnumerable<SourceWrestlingSchool.Models.ApplicationUser>

@{
    ViewBag.Title = "Student Roster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")
<style>
    .label{-webkit-border-radius: 5px;-moz-border-radius: 5px;}
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Student Roster</h3>
            </div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th id="email">
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClassLevel)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @if (item.ClassLevel == ClassLevel.Beginner)
                                    {
                                        <small class="label label-primary">@Html.DisplayFor(modelItem => item.ClassLevel)</small>
                                    }
                                    else if (item.ClassLevel == ClassLevel.Intermediate)
                                    {
                                        <small class="label label-warning">@Html.DisplayFor(modelItem => item.ClassLevel)</small>
                                    }
                                    else if (item.ClassLevel == ClassLevel.Advanced)
                                    {
                                        <small class="label label-success">@Html.DisplayFor(modelItem => item.ClassLevel)</small>
                                    }
                                    else if (item.ClassLevel == ClassLevel.Womens)
                                    {
                                        <small class="label bg-maroon">@Html.DisplayFor(modelItem => item.ClassLevel)</small>
                                    }
                                </td>
                                <td>
                                    @using (Html.BeginForm("EditClass", "User", FormMethod.Post))
                                    {
                                        <input type="hidden" name="userId" value=@item.Id>
                                        @Html.EnumDropDownListFor(modelItem => item.ClassLevel)
                                        <input class="btn btn-success btn-xs" type="submit" value="Change Level">
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClassLevel)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <a class="btn btn-app" href='@Url.Action("ExportStudentListToExcel", "User")'>
        <i class="fa fa-file-excel-o"></i> Export To Excel
    </a>
    <a class="btn btn-app" href='@Url.Action("ExportStudentListToPdf", "User")'>
        <i class="fa fa-file-pdf-o"></i> Export To PDF
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}
