@model List<SelectListItem>
@{
    ViewBag.Title = "Site Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- User Reports -->
<h3 style="text-decoration: underline">Student Roster Reports</h3>
<div class="row">
    <a class="btn btn-app" href='@Url.Action("ExportStudentListToExcel", "User")'>
        <i class="fa fa-file-excel-o"></i> Export To Excel
    </a>
    <a class="btn btn-app" href='@Url.Action("ExportStudentListToPdf", "User")'>
        <i class="fa fa-file-pdf-o"></i> Export To PDF
    </a>
</div>
<br/>
<h3 style="text-decoration: underline">Outstanding Payments Report</h3>
<div class="row">
    <a class="btn btn-app" href='@Url.Action("ExportOutstandingToExcel", "Payments")'>
        <i class="fa fa-file-excel-o"></i> Export To Excel
    </a>
    <a class="btn btn-app" href='@Url.Action("ExportOutstandingToPdf", "Payments")'>
        <i class="fa fa-file-pdf-o"></i> Export To PDF
    </a>
</div>

<!-- Business Reports -->
<h3 style="text-decoration: underline">Revenue Report</h3>
<form id="monthPicker" action="/Reports/Revenue" method="post">
    Please Select (month and year) to view Revenue Report:
    <input type="month" id="month" name="selectedMonth">
    <input type="button" id="button_1" value="View Revenue Sheet">
</form>
<br/>
<br/>
<div id="resultView" class="container hidden">
    

</div>
 
<script>
    $(document).ready(function () {
        var button = '#resultView';
        $(button).hide(0);
        $("#button_1").click(function (e) {
            $(button).css('display', 'none');
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("GetData", "Reports")',
                type: "GET",
                data: { selected : $("#month").val()},
                success: function (result) {
                    $(button).css('visibility','visible').hide().fadeIn().removeClass('hidden'); 
                    $(button).replaceWith(
                        '<div class="row">' +
                        '<div class="col-lg-6">' +
                        '<div class="panel panel-default">' +
                        '<div class="panel-heading">Revenue Summary for ' + $("#month").val() + '</div>' +
                        '<div class="panel-body" style="color:black">' +
                        '<ul>' +
                        '<li>Live Event Revenue : £'+result.TotalEventRevenue+'</li>' +
                        '<li>Membership Revenue : £'+result.TotalMembershipRevenue+'</li>'+
                        '<li>Other Revenue : £'+result.TotalOtherRevenue+'</li>'+
                        '<li>----------------------------</li>'+
                        '<li>Total Revenue : £'+result.TotalMonthRevenue+'</li>'+
                        '</ul></div></div></div></div>'
                        );
                }
            });
            });



        $('#datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM yy',

            onClose: function() {
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
            },

            beforeShow: function() {
                if ((selDate = $(this).val()).length > 0)
                {
                    iYear = selDate.substring(selDate.length - 4, selDate.length);
                    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5),
                        $(this).datepicker('option', 'monthNames'));
                    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
                    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
                }
            }
        });
    });
</script>
<script src="~/Scripts/jquery-ui-1.8.11.js"></script>
