@model SourceWrestlingSchool.Models.RevenueReportModel
@{
    ViewBag.Title = "Revenue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Source Wrestling School Revenue</h2>
<div class="container">
    <div class="row">
        <!-- SUMMARY VIEW -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Revenue Summary for @Html.DisplayFor(model => model.CurrentDate)</div>
                <div class="panel-body" style="color:black">
                    <ul>
                        <li>Live Event Revenue : £@Html.DisplayFor(model => model.TotalEventRevenue)</li>
                        <li>Membership Revenue : £@Html.DisplayFor(model => model.TotalMembershipRevenue)</li>
                        <li>Other Revenue : £@Html.DisplayFor(model => model.TotalOtherRevenue)</li>
                        <li>----------------------------</li>
                        <li>Total Revenue : £@Html.DisplayFor(model => model.TotalMonthRevenue)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- COLLAPSED DETAILED VIEWS -->
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Live Event Revenues
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    @foreach (var item in Model.Events)
                    {
                        <div class="card-block">
                            @Html.DisplayFor(modelItem => item.EventName) : £@Html.DisplayFor(modelItem => item.EventRevenue)
                        </div>
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Membership Revenues
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        Bronze Membership Fees Paid  : @Model.NoBronzeMemberships
                        Total Bronze Fees This Month : £@Model.BronzeFeesCollected
                        
                        Silver Membership Fees Paid  : @Model.NoSilverMemberships
                        Total Silver Fees This Month : £@Model.SilverFeesCollected
                        
                          Gold Membership Fees Paid  : @Model.NoGoldMemberships
                          Total Gold Fees This Month : £@Model.GoldFeesCollected
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                            Other Revenue
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                          Number of Private Sessions : @Model.NoPrivateSessions
                        Total Private Fees Collected : £@Model.PrivateFeesCollected
                        
                           Cancellation Fines Levied : @Model.NoCancellationFines
                               Total Fines Collected : £@Model.FinesCollected
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


