@model SourceWrestlingSchool.Models.Seat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutNonAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Seat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
